{% extends 'base.html' %}

{% block page-left %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">作业中心</h3>
        </div>
        <div class="panel-body">
            <a href="/adhocdo/" class="btn btn-default btn-block">发布任务</a>
            <a href="/adhoclog/" class="btn btn-default btn-block">任务日志</a>
        </div>
    </div>
{% endblock %}

{% block page-right %}
    <div class="col-xs-12 col-md-4 mb-5">
        <label>新平台资源组:</label>
        <select id="optgroup_clickable"
                class="form-control form-control-chosen-optgroup chosen-container-optgroup-clickable"
                title="clickable_optgroup" data-placeholder="Please select..." multiple="" style="display: none;">
            <optgroup label="Label A">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
                <option>Option Four</option>
            </optgroup>
            <optgroup label="Label B">
                <option>Option Five</option>
                <option>Option Six</option>
                <option>Option Seven</option>
                <option>Option Eight</option>
            </optgroup>
        </select>
    </div>

    <script type="text/javascript">
        $('#optgroup_clickable').chosen({
            allow_single_deselect: true,
            disable_search_threshold: 100,
            width: '100%'
        });
        $(function () {
            $('[title="clickable_optgroup"]').addClass('chosen-container-optgroup-clickable');
        });
        $(document).on('click', '[title="clickable_optgroup"] .group-result', function () {
            var unselected = $(this).nextUntil('.group-result').not('.result-selected');
            if (unselected.length) {
                unselected.trigger('mouseup');
            } else {
                $(this).nextUntil('.group-result').each(function () {
                    $('a.search-choice-close[data-option-array-index="' + $(this).data('option-array-index') + '"]').trigger('click');
                });
            }
        });
    </script>


{% endblock %}