{% extends 'base.html' %}

{% block page-left %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">作业中心</h3>
        </div>
        <div class="panel-body">
            <a href="/fault-report/add-report/" class="btn btn-default btn-block">发布任务</a>
            <hr>
            <a href="/fault-report/add-report/" class="btn btn-default btn-block">任务日志</a>
        </div>
    </div>
{% endblock %}

{% block page-right %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>序号</th>
            <th>标题</th>
            <th>评论数</th>
            <th>支持数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}