{% extends 'base.html' %}

{% block page-left %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">作业中心</h3>
        </div>
        <div class="panel-body">
            <a href="/adhocdo/" class="btn btn-default btn-block">发布任务</a>
            <a href="/adhoclog/" class="btn btn-default btn-block">任务日志</a>
        </div>
    </div>
{% endblock %}

{% block page-right %}
    <div class="col-xs-12 col-md-4 mb-5">
        <form action="" method="post">
            <textarea rows=1 cols=16 name="iplist" style='overflow:scroll;overflow-y:hidden;;overflow-x:hidden'
                      onfocus="window.activeobj=this;this.clock=setInterval(function(){activeobj.style.height=activeobj.scrollHeight+'px';},200);"
                      onblur="clearInterval(this.clock);">

            </textarea>
            <button type="submit" class="btn btn-default">提交</button>
        </form>
    </div>

{% endblock %}